@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
        url('../fonts/PlayfairDisplay.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body,
#root{
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}
p,
h3{
    margin: 0;
}
.activeNavBar{
    color: #fff;
}