.itemContact{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 95%;
	height: 82px;
}
.itemContact img{
	display: block;
	position: relative;
	width: 30px;
	height: auto;
}
.itemContact p{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
@media (min-width: 768px){
	.itemContact{
		width: auto;
	}
}