.clients{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	background: #6B6C6D;
}
.slider{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 90%;
	height: auto;
	overflow: hidden;
}
.slider>div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: auto;
	height: auto;
}