.personInfo,
.personInfo>div{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 90%;
	height: auto;
	padding-bottom: 20px;
}
.personInfo>div{
	width: 100%;
}
.personInfo h3, 
.personInfo p{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	color: #fff;
	text-align: justify;
}

.personInfo h3{
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}
@media (min-width: 576px){
	.personInfo,
	.personInfo>div{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.personInfo h3{
		align-self: center;
	}
	.personInfo>div .infoBlock:last-child{
		width: 100%;
	}
}
@media (min-width: 992px){
	.personInfo{
		width: 38%;
	}
	.personInfo>div{
		flex-direction: column;
	}
	.personInfo h3{
		margin-top: 25px;
	}
}
@media (min-width: 1200px){
	.personInfo{
		padding-left: 2.5%;
	}
	.personInfo h3{
		text-align: left;
	}
}