.leftNavbar{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 200px;
	height: auto;
}
.leftNavbar{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 185px;
	height: auto;
}