.otherContacts{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 90%;
	height: auto;
}
@media (min-width: 768px){
	.otherContacts{
		flex-direction: row; 
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}
@media (min-width: 992px){
	.otherContacts{
		width: 95%;
	}
}
@media (min-width: 1200px){
	.otherContacts{
		width: 1040px;
	}
}