.title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 50px;
	margin-top: 15px;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2) ;
}
.title h3{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	color: #00A3E1;
	font-weight: 600;
	font-size: 36px;
}
.title img{
	display: block;
	position: relative;
	width: 38px;
	height: auto;
}
@media (min-width: 992px){
	.title{
		width: 95%;
		margin-top: 50px;
	}
}
@media (min-width: 1200px){
	.title{
		width: 1040px;
	}
}